<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <title>{{.Title}}</title>

  	<script src = '/resources/js/controllers.js'></script>

		<link rel="stylesheet" type="text/css" href="/resources/css/style.css">
	</head>

	<body>

		<div class = 'mobile-top-bar'>
			<img src = '/resources/images/BG Logo.png'></img>
		</div>


		<div class = 'nav-bar-white'>
			<span><img src = '/resources/images/mini logo hover.png' onclick="loadPage('')"></img></span>
				<span class = 'kf-link yellow-active'>ABOUT</span>
				<span class = 'kf-link dark-link'>CONTACT</span>
		</div>

		<div class = 'mobile-nav-bar'>
			<div class = 'mobile-nav-centering'>
				<div class = 'col-xs-4'>ABOUT</div>
				<div class = 'col-xs-4'>CALL</div>
				<div class = 'col-xs-4'>EMAIL</div>
			</div>
		</div>

		<!--
		<div class = 'about-header-image'>
			<img src = '/resources/images/blue logo.png'></img>
		</div>

	-->

		<div class = 'about-container row'>
			<div class = 'about-wrapper'>
				<div class = 'col-sm-5 profile-container'>
				</div>
				<div class = 'col-sm-5 profile-container-desktop'>
					<img src = 'resources/images/BrianGuswiler.jpg'></img>
				</div>
				<div class = 'col-sm-7 profile-description'>
					<h1>BRIAN GUSWILER</h1>
					<div class = 'about-email'>brianguswiler@gmail.com</div>
					<div class = 'about-phone'>555 - 555 - 555</div>

					<p>
						Brian is experienced in over 1,000 property transactions both for professional and personal buyers. He has helped many first time home buyers find cooperative financing. Brian will provide you  peace of mind in knowing that your home investment will be modern, attractive, and take minimal upkeep over the next decade.
					</p>

					<p>
						Brian will help you find the right home for your future investment that fits your financial goals.
					</p>

				</div>
			</div>



			<div class = 'col-xs-12 about-testimonial'>
				"Brain did a great job helping us find our new home in Northern Idaho. He is very knowledgable about the area."
			</div>

			<div class = 'col-sm-5 awards-section'>
				<h4>AWARDS</h4>

				<ul>
					<li>People's choice for new home design and curb appeal in million dollar market 2005.</li>
					<li>RPAC Team Leader for 2012, 2013, 2014, 2015, 2016</li>
					<li>USDA Rural Home Top Leader</li>
					<li>HBA Certificate of Excellence 2005</li>
					<li>HBA Certificate of Excellence 2004</li>
					<li>HBA Certificate of Excellence 2003</li>
					<li>HBA Certificate of Excellence 2002</li>
					<li>HBA Certificate of Excellence 2001</li>
					<li>HBA Certificate of Excellence 1999</li>
					<li>HBA Certificate of Excellence 1998</li>
				</ul>
			</div>

			<div class = 'col-sm-7 other-about-section'>
				<h4>AWARDS</h4>
				<p>
						Brian is experienced in over 1,000 property transactions both for professional and personal buyers. He has helped many first time home buyers find cooperative financing. Brian will provide you  peace of mind in knowing that your home investment will be modern, attractive, and take minimal upkeep over the next decade.
					</p>

					<p>
						Brian will help you find the right home for your future investment that fits your financial goals.
					</p>
			</div>

		</div>


		<div class = 'desktop-home-footer'>
			<img src = '/resources/images/BG Logo.png'></img>

			<div class = 'footer-contact-info'>
				<div>brianguswiler@gmail.com</div>
				<div>555-555-5555</div>
			</div>
		</div>




	</body>
</html>
