<html>

	<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <title>{{.Title}}</title>

  	<script src = '/resources/js/controllers.js'></script>

		<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

	</head>

	<body>


		<!--

		Mobile Setup

		-->

		<div class = 'mobile-top-bar'>
			<img src = '/resources/images/BG Logo.png'></img>
		</div>


		<div class = 'mobile-nav-bar'>
			<div class = 'mobile-nav-centering'>
				<div class = 'col-xs-4' onclick="loadPage('about')">ABOUT</div>
				<div class = 'col-xs-4'>CALL</div>
				<div class = 'col-xs-4'>EMAIL</div>
			</div>
		</div>


		<div class = 'city-images-mobile'>
			<div class = 'col-xs-12 mobile-city-link' id = 'coeurdalene'>
				<img src = '/resources/images/CDA-mobile.jpg'>
				<div class = 'hover-div'>
				</div>
				<div class = 'hover-text'> COEUER D'ALENE</div>
			</div>
			<div class = 'col-xs-12 mobile-city-link' id = 'lakefernan'>
				<img src = '/resources/images/LakeFernan-mobile.jpg'>
				<div class = 'hover-div'>
				</div>
				<div class = 'hover-text'> LAKE FERNAN</div>
			</div>
			<div class = 'col-xs-12 mobile-city-link' id = 'sandpoint'>
				<img src = '/resources/images/BonersFerry-mobile.jpg'>
				<div class = 'hover-div'>
				</div>
				<div class = 'hover-text'> SANDPOINT</div>
			</div>
			<div class = 'col-xs-12 mobile-city-link' id = 'rathdrum'>
				<img src = '/resources/images/Rathdrum-mobile.jpg'>
				<div class = 'hover-div'>
				</div>
				<div class = 'hover-text'> RATHDRUM</div>
			</div>
			<div class = 'col-xs-12 mobile-city-link' id = 'postfall'>
				<img src = '/resources/images/PostFalls-mobile.jpg'>
				<div class = 'hover-div'>

				</div>
				<div class = 'hover-text'> POST FALLS</div>
			</div>
			<div class = 'col-xs-12 mobile-city-link' id = 'haydenlake'>
				<img src = '/resources/images/HaydenLake-mobile.jpg'>
				<div class = 'hover-div'>

				</div>
				<div class = 'hover-text'> HAYDEN LAKE</div>
			</div>
		</div>

		<div class = 'spacer-div' style = 'padding: 30px;padding-top: 30px;color: white;margin-top:-40px;'>
		 &nbsp;
		</div>

		<div class = 'mobile-stats-kf'>
			<div class = 'mobile-stat-row'>
				<div class = 'mobile-stats-number'>
					6.7<sup>%</sup>
				</div>
				<div class = 'mobile-stats-details'>
					<div class = 'mobile-stats-detail-title'>
						HOUSING PRICES
					</div>
					<div class = 'mobile-stats-detail-description'>
						Housing prices have increased 6.7% in the last year according to Forbes Business.
					</div>
				</div>
			</div>

			<div class = 'border-divider-mobile home-mobile-div'>

			</div>

			<div class = 'mobile-stat-row'>
				<div class = 'mobile-stats-number'>
					2.6<sup>%</sup>
				</div>
				<div class = 'mobile-stats-details'>
					<div class = 'mobile-stats-detail-title'>
						POPULATION INCREASE
					</div>
					<div class = 'mobile-stats-detail-description'>
						Coeur d'Alene ranks 11th in population increase in 2017 in MSA with 2.6% increase.
					</div>
				</div>
			</div>

			<div class = 'border-divider-mobile home-mobile-div'>

			</div>

			<div class = 'mobile-stat-row'>
				<div class = 'mobile-stats-number'>
					3.9<sup>%</sup>
				</div>
				<div class = 'mobile-stats-details'>
					<div class = 'mobile-stats-detail-title'>
						UNEMPLOYMENT
					</div>
					<div class = 'mobile-stats-detail-description'>
						Coeur d'Alene's unemployement falls well below the nation's average according to CDA Press.
					</div>
				</div>
			</div>

			<div class = 'border-divider-mobile home-mobile-div'>

			</div>

			<div class = 'mobile-stat-row'>
				<div class = 'mobile-stats-number'>
					0.4<sup>%</sup>
				</div>
				<div class = 'mobile-stats-details'>
					<div class = 'mobile-stats-detail-title'>
						CRIME RATE
					</div>
					<div class = 'mobile-stats-detail-description'>
						Northern Idaho provides its residents with a safe environment with very little crime.
					</div>
				</div>
			</div>
		</div>

		<div class = 'mobile-footer-home'>
			<img src = '/resources/images/BG Logo.png'></img>

			<div class = 'mobile-footer-social-images'>
				<span><img src = '/resources/images/facebook mobile.png'></img></span>
				<span><img src = '/resources/images/twitter mobile.png'></img></span>
				<span><img src = '/resources/images/instagram mobile.png'></img></span>
			</div>

		</div>


		<!--
			Full Size
		-->



		<div class = 'hero-container'>

			<div class = 'kf-navbar'>
				<span id = 'home-link'><img src = '/resources/images/mini logo.png'></img></span>
				<span id = 'about-link' class = 'kf-link' onclick="loadPage('about')">ABOUT</span>
				<span id = 'contact-link' class = 'kf-link'>CONTACT</span>
			</div>

			<img src = '/resources/images/Background.jpeg'></img>


			<div class = 'hero-logo'>
				<img src = '/resources/images/BG Logo.png'></img>
			</div>


			<div class = 'stats-container'>
				<div class = 'col-xs-4 col-md-3'>
					<div class = 'stat-num'>
						6.7<sup>%</sup>
					</div>
					<div class = 'stat-title'>
						HOUSING PRICES
					</div>
					<div class = 'stat-description'>
						Housing prices have increased 6.7% in the last year according to Forbes Business.
					</div>
				</div>
				<div class = 'col-xs-4 col-md-3'>
					<div class = 'stat-num'>
						2.6<sup>%</sup>
					</div>
					<div class = 'stat-title'>
						POPULATION INCREASE
					</div>
					<div class = 'stat-description'>
						Coeur d'Alene ranks 11th in population increase in 2017 in MSA with 2.6% increase.
					</div>
				</div>
				<div class = 'col-xs-4 col-md-3'>
					<div class = 'stat-num'>
						3.9<sup>%</sup>
					</div>
					<div class = 'stat-title'>
						UNEMPLOYMENT
					</div>
					<div class = 'stat-description'>
						Coeur d'Alene's unemployement falls well below the nation's average according to CDA Press.
					</div>
				</div>
				<div class = 'col-xs-4 col-md-3 hidden-xs hidden-sm'>
					<div class = 'stat-num'>
						0.4<sup>%</sup>
					</div>
					<div class = 'stat-title'>
						CRIME RATE
					</div>
					<div class = 'stat-description'>
						Northern Idaho provides its residents with a safe environment with very little crime.
					</div>
				</div>
			</div>
		</div>

		<div class = 'italics-quote'>
			<i>Find your mountain getaway without ever leaving home.</i>
		</div>

		<div class = 'photo-grid-container'>

			<div class = 'col-sm-6 col-lg-4 photo-link' id = 'coeurdalene'>

				<img src = '/resources/images/CDA.jpg'></img>

				<div class = 'photo-subtitle'>
					COEUR D'ALENE
				</div>

				<div class = 'hover-box'>
					<div class = 'hover-text'>COEUR D'ALENE</div>
				</div>

			</div>
			<div class = 'col-sm-6 col-lg-4 photo-link' id = 'lakefernan'>

				<img src = '/resources/images/LakeFernan.jpg'></img>

				<div class = 'photo-subtitle'>
					LAKE FERNAN
				</div>
				<div class = 'hover-box'>
					<div class = 'hover-text'>LAKE FERNAN</div>
				</div>
			</div>
			<div class = 'col-sm-6 col-lg-4 photo-link' id = 'sandpoint'>

				<img src = '/resources/images/BonersFerry.jpg'></img>

				<div class = 'photo-subtitle'>
					SANDPOINT
				</div>
				<div class = 'hover-box'>
					<div class = 'hover-text'>SANDPOINT</div>
				</div>
			</div>
			<div class = 'col-sm-6 col-lg-4 photo-link' id = 'rathdrum'>

				<img src = '/resources/images/Rathdrum.jpg'></img>

				<div class = 'photo-subtitle'>
					RATHDRUM
				</div>
				<div class = 'hover-box'>
					<div class = 'hover-text'>RATHDRUM</div>
				</div>
			</div>
			<div class = 'col-sm-6 col-lg-4 photo-link' id = 'postfall'>

				<img src = '/resources/images/PostFalls.jpg'></img>

				<div class = 'photo-subtitle'>
					POST FALLS
				</div>
				<div class = 'hover-box'>
					<div class = 'hover-text'>POST FALLS</div>
				</div>
			</div>
			<div class = 'col-sm-6 col-lg-4 photo-link' id = 'haydenlake'>

				<img src = '/resources/images/HaydenLake.jpg'></img>

				<div class = 'photo-subtitle'>
					HAYDEN LAKE
				</div>
				<div class = 'hover-box'>
					<div class = 'hover-text'>HAYDEN LAKE</div>
				</div>
			</div>
		</div>

		<div class = 'desktop-spacer-div' style = 'padding: 30px;padding-top: 30px;color: white;margin-top:-10px;'>
		 .
		</div>

		<div class = 'home-social-footer'>
			<div class = 'social-footer-text'>
				Please stay in touch to recieve our latest offerings.
			</div>

			<div class = 'desktop-social-images'>
				<span><img src = '/resources/images/facebook.png'></img></span>
				<span><img src = '/resources/images/twitter.png'></img></span>
				<span><img src = '/resources/images/instagram.png'></img></span>
			</div>

		</div>

		<div class = 'desktop-home-footer'>
			<img src = '/resources/images/BG Logo.png'></img>

			<div class = 'footer-contact-info'>
				<div>brianguswiler@gmail.com</div>
				<div>555-555-5555</div>
			</div>
		</div>




	</body>

</html>
