<html>
	<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script
  			src="https://code.jquery.com/jquery-3.2.1.min.js"
 			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   		crossorigin="anonymous"></script>
      <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  		<script src = '/resources/js/controllers.js'></script>

		<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>{{.Title}}</title>


	</head>


	<body>

    <!--

      Mobile



    -->

    <div class = 'mobile-top-bar'>
      <img src = '/resources/images/BG Logo.png'></img>
    </div>

    <div class = 'mobile-nav-bar'>
			<div class = 'mobile-nav-centering detail-centering'>
        <div class = 'col-xs-3' onclick="loadPage('')">HOME</div>
				<div class = 'col-xs-3' onclick="loadPage('about')">ABOUT</div>
				<div class = 'col-xs-3'>CALL</div>
				<div class = 'col-xs-3'>EMAIL</div>
			</div>
		</div>

    <div class = 'mobile-city-select'>
      <div class = 'mobile-current-city mobile-city-item'>
        POST FALLS

        <div class = 'city-select-arrow'>
          <i class="fa fa-caret-down fa-lg rotate" aria-hidden="true"></i>
        </div>

      </div>

      <div class = 'hidden-city-menu'>
        <div class = 'mobile-city-item' onclick = 'loadPage("coeurdalene")'>
          COUER D'ALENE
        </div>
        <div class = 'mobile-city-item' onclick = 'loadPage("lakefernan")'>
          LAKE FERNAN
        </div>
        <div class = 'mobile-city-item' onclick = 'loadPage("sandpoint")'>
          SANDPOINT
        </div>
        <div class = 'mobile-city-item' onclick = 'loadPage("rathdrum")'>
          RATHDRUM
        </div>
        <div class = 'mobile-city-item' onclick = 'loadPage("haydenlake")'>
          HAYDEN LAKE
        </div>
      </div>

    </div>



    <!--

      Desktop



    -->


		<div class = 'nav-bar-white'>
			<span><img src = '/resources/images/mini logo hover.png' onclick="loadPage('')"></img></span>
			<span class = 'kf-link dark-link' onclick="loadPage('about')">ABOUT</span>
			<span class = 'kf-link dark-link'>CONTACT</span>
		</div>

		<div class = 'cities' style = 'text-align:center;'>
			<div class = 'cities-bar row'>
				<div class = 'col-xs-2' onclick = 'loadPage("coeurdalene")'>COEUR D'ALENE</div>
				<div class = 'col-xs-2' onclick = 'loadPage("lakefernan")' >LAKE FERNAN</div>
				<div class = 'col-xs-2' onclick = 'loadPage("sandpoint")'>SANDPOINT</div>
				<div class = 'col-xs-2' onclick = 'loadPage("rathdrum")'>RATHDRUM</div>
				<div class = 'col-xs-2 cities-bar-active'>POST FALLS</div>
				<div class = 'col-xs-2' onclick = 'loadPage("haydenlake")'>HAYDEN LAKE</div>
			</div>
		</div>

		<div class = 'detail-page-container'>

			<div class = 'detail-center-wrapper'>
				<div class = 'detail-hero-container'>
					<img src = '/resources/images/postfalls1.jpg'>

					<div class = 'detail-hero-text'>
						POST FALLS
					</div>
				</div>

        <div class = 'border-divider-mobile'>

				</div>


				<div class = 'detail-body-quote'>
					Post Falls is a natural beauty with a rich history.
				</div>

				<div class = 'detail-body-paragraph'>
					With its natural beauty and rich history, Post Falls is a must-see stop on the highway to adventure in North Idaho. It’s located just off I-90, between Spokane and Coeur d’Alene, and “Idaho’s River City” is simply brimming with outdoor recreational fun! Enjoy the family friendly and accessible Falls Park, with picnic areas, paved trails and a viewing platform above the roaring falls. Kids can fish in the stocked pond, so bring fishing poles!
				</div>

				<div class = 'border-divider'>

				</div>
        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'detail-hero-container margin-bottom-img zoom-in-1'>
            <img src = '/resources/images/postfalls2.jpg'>
				</div>

        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'border-divider'>

				</div>


				<div class = 'stats-row-details'>
					<div class = 'row'>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								RED LIONS MARINA
							</div>
							<div class = 'detail-stats-description'>
								Located directly on the Spokane River, the marina houses visitors as well as local boats.
							</div>
						</div>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								SILVERWOOD THEME PARK
							</div>
							<div class = 'detail-stats-description'>
								The Northwest’s largest theme park with over 70 rides, slides, shows and attraction.
							</div>
						</div>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								BUCK KNIVES TOUR
							</div>
							<div class = 'detail-stats-description'>
								Buck Knives, an American tradition for over a century with five generations of the family producing quality knives in the U.S.A.
							</div>
						</div>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								STATELINE SPEEDWAY
							</div>
							<div class = 'detail-stats-description'>
								More action, more excitement, and entertainment!  Unpredictable motor sports with stock car racing and over 50 events.
							</div>
						</div>
					</div>
				</div>

				<div class = 'border-divider'>

				</div>

        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'details-3-cols-img'>
					<div class = 'row'>
						<div class = 'col-sm-4 far-left detail-sm-img'>
							<img class = 'col-img-sub' src = '/resources/images/postfalls3.jpg'></img>
							<h2>OUTDOOR LIFE</h2>
							<p>
								Post Falls has a rich history with many landmarks throughout the village.
							</p>
						</div>
						<div class = 'col-sm-4 middle-img detail-sm-img'>
							<img class = 'col-img-sub' src = '/resources/images/postfalls4.jpg'></img>
							<h2>ENTERTAINMENT</h2>
							<p>
								Local bars and breweries provide great fun for the adults in the family.
							</p>
						</div>
						<div class = 'col-sm-4 far-right detail-sm-img'>
							<img class = 'col-img-sub' src = '/resources/images/postfalls5.jpg'></img>
							<h2>COMMUNITY</h2>
							<p>
								Post Falls' parks and recreation department takes care of the local community
							</p>
						</div>
					</div>
				</div>


        <div class = 'border-divider-mobile'>

				</div>


				<div class = 'detail-body-quote'>
					Post Falls is a north Idaho paradise.
				</div>

				<div class = 'detail-body-paragraph'>
					Surrounded by mountains and the Spokane River in the heart of north Idaho’s recreational mecca is where you’ll find the friendly town of Post Falls. Post Falls is the perfect getaway and gateway to your north Idaho adventure!
				</div>

        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'google-maps-container'>
					<div id="map"></div>
				</div>




			</div>


      <div class = 'cities large-bot-margin' style = 'text-align:center;'>
  			<div class = 'cities-bar row'>
  				<div class = 'col-xs-2' onclick = 'loadPage("coeurdalene")'>COEUR D'ALENE</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("lakefernan")' >LAKE FERNAN</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("sandpoint")'>SANDPOINT</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("rathdrum")'>RATHDRUM</div>
  				<div class = 'col-xs-2 cities-bar-active'>POST FALLS</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("haydenlake")'>HAYDEN LAKE</div>
  			</div>
  		</div>

      <div class = 'mobile-top-bar'>
        <img src = '/resources/images/BG Logo.png'></img>
      </div>




		</div>

		<script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.6777, lng: -116.7805},
          scrollwheel: false,
          zoom: 13,
          mapTypeId: 'terrain',
          styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }
]
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbNcsUXQth89ztor6Q4jMNWtqhTqRtUvU&callback=initMap"
    async defer></script>

	</body>

</html>
