<html>
	<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script
  			src="https://code.jquery.com/jquery-3.2.1.min.js"
 			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   		crossorigin="anonymous"></script>
      <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  		<script src = '/resources/js/controllers.js'></script>

		<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>{{.Title}}</title>


	</head>


	<body>

    <!--

      Mobile



    -->

    <div class = 'mobile-top-bar'>
      <img src = '/resources/images/BG Logo.png'></img>
    </div>

    <div class = 'mobile-nav-bar'>
			<div class = 'mobile-nav-centering detail-centering'>
        <div class = 'col-xs-3' onclick="loadPage('')">HOME</div>
				<div class = 'col-xs-3' onclick="loadPage('about')">ABOUT</div>
				<div class = 'col-xs-3'>CALL</div>
				<div class = 'col-xs-3'>EMAIL</div>
			</div>
		</div>

    <div class = 'mobile-city-select'>
      <div class = 'mobile-current-city mobile-city-item'>
        RATHDRUM

        <div class = 'city-select-arrow'>
          <i class="fa fa-caret-down fa-lg rotate" aria-hidden="true"></i>
        </div>

      </div>

      <div class = 'hidden-city-menu'>
        <div class = 'mobile-city-item' onclick = 'loadPage("coeurdalene")'>
          COUER D'ALENE
        </div>
        <div class = 'mobile-city-item' onclick="loadPage('lakefernan')">
          LAKE FERNAN
        </div>
        <div class = 'mobile-city-item' onclick="loadPage('sandpoint')">
          SANDPOINT
        </div>
        <div class = 'mobile-city-item' onclick='loadPage("postfalls")'>
          POST FALLS
        </div>
        <div class = 'mobile-city-item' onclick="loadPage('haydenlake')">
          HAYDEN LAKE
        </div>
      </div>

    </div>



    <!--

      Desktop



    -->


		<div class = 'nav-bar-white'>
			<span><img src = '/resources/images/mini logo hover.png' onclick="loadPage('')"></img></span>
			<span class = 'kf-link dark-link' onclick="loadPage('about')">ABOUT</span>
			<span class = 'kf-link dark-link'>CONTACT</span>
		</div>

		<div class = 'cities' style = 'text-align:center;'>
			<div class = 'cities-bar row'>
				<div class = 'col-xs-2' onclick = 'loadPage("coeurdalene")'>COEUR D'ALENE</div>
				<div class = 'col-xs-2' onclick = 'loadPage("lakefernan")'>LAKE FERNAN</div>
				<div class = 'col-xs-2' onclick = 'loadPage("sandpoint")'>SANDPOINT</div>
				<div class = 'col-xs-2  cities-bar-active' >RATHDRUM</div>
				<div class = 'col-xs-2' onclick = 'loadPage("postfalls")'>POST FALLS</div>
				<div class = 'col-xs-2' onclick = 'loadPage("haydenlake")'>HAYDEN LAKE</div>
			</div>
		</div>

		<div class = 'detail-page-container'>

			<div class = 'detail-center-wrapper'>
				<div class = 'detail-hero-container'>
					<img src = '/resources/images/rathdrum1.jpg'>

					<div class = 'detail-hero-text'>
						RATHDRUM
					</div>
				</div>

        <div class = 'border-divider-mobile'>

				</div>


				<div class = 'detail-body-quote'>
					Rathdrum offers small town living at its best.
				</div>

				<div class = 'detail-body-paragraph'>
					Rathdrum offers small town living at its best. Located in the Idaho Panhandle, nestled on the edge of the Rathdrum Prairie and surrounded by beautiful mountains, Rathdrum has a neighborhood atmosphere, yet is only minutes from big city amenities. Rathdrum may just be the ideal town you’re looking for. Whether you are planning a visit or looking for a place to call home, here you can experience small town charm and friendliness.
				</div>

				<div class = 'border-divider'>

				</div>
        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'detail-hero-container margin-bottom-img zoom-in-1'>
            <img src = '/resources/images/rathdrum2.jpg'>
				</div>

        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'border-divider'>

				</div>


				<div class = 'stats-row-details'>
					<div class = 'row'>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								SAFEST CITIES IN IDAHO
							</div>
							<div class = 'detail-stats-description'>
								Rathdrum ranks top 30 high on Alarm.org safest cities in Idaho.
							</div>
						</div>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								RATHDRUM MOUNTAIN
							</div>
							<div class = 'detail-stats-description'>
								Rathdrum Mountain serves the local community by providing beautiful access to trails for summer or winter recreation.
							</div>
						</div>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								TWIN LAKES GOLF COURSE
							</div>
							<div class = 'detail-stats-description'>
								Twin Lakes Golf Course offers some of the best golfing in the state for a reasonable price.
							</div>
						</div>
						<div class = 'col-sm-3'>
							<div class = 'detail-stats-title'>
								BIKING AND HIKING
							</div>
							<div class = 'detail-stats-description'>
								For more than a century residents and visitors have enjoyed the trails and rivers in Rathdrum.
							</div>
						</div>
					</div>
				</div>

				<div class = 'border-divider'>

				</div>

        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'details-3-cols-img'>
					<div class = 'row'>
						<div class = 'col-sm-4 far-left detail-sm-img'>
							<img class = 'col-img-sub' src = '/resources/images/rathdrum3.jpg'></img>
							<h2>OUTDOOR LIFE</h2>
							<p>
								Kayak in the river or play a round of golf, you wont be disappointed.
							</p>
						</div>
						<div class = 'col-sm-4 middle-img detail-sm-img'>
							<img class = 'col-img-sub' src = '/resources/images/rathdrum4.jpg'></img>
							<h2>ENTERTAINMENT</h2>
							<p>
								Participate in the annual relay for life, or Taste of Rathdrum BBQ.
							</p>
						</div>
						<div class = 'col-sm-4 far-right detail-sm-img'>
							<img class = 'col-img-sub' src = '/resources/images/rathdrum5.jpg'></img>
							<h2>COMMUNITY</h2>
							<p>
								Bring the entire family to the fishing derby on Rathdum Creek.
							</p>
						</div>
					</div>
				</div>

        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'detail-body-quote'>
					Rathdrum is a perfect community for the entire family.
				</div>

				<div class = 'detail-body-paragraph'>
					For more than a century, residents and visitors alike have enjoyed the mountains, lakes and wildlife that thrive in Rathdrum. From biking and hiking trails, to water recreational opportunities and fantastic golfing, the area offers a fun and relaxing experience.
				</div>

        <div class = 'border-divider-mobile'>

				</div>

				<div class = 'google-maps-container'>
					<div id="map"></div>
				</div>




			</div>


      <div class = 'cities' style = 'text-align:center;'>
  			<div class = 'cities-bar row'>
  				<div class = 'col-xs-2' onclick = 'loadPage("coeurdalene")'>COEUR D'ALENE</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("lakefernan")'>LAKE FERNAN</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("sandpoint")'>SANDPOINT</div>
  				<div class = 'col-xs-2  cities-bar-active' >RATHDRUM</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("postfalls")'>POST FALLS</div>
  				<div class = 'col-xs-2' onclick = 'loadPage("haydenlake")'>HAYDEN LAKE</div>
  			</div>
  		</div>

      <div class = 'mobile-top-bar'>
        <img src = '/resources/images/BG Logo.png'></img>
      </div>




		</div>

		<script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.6777, lng: -116.7805},
          scrollwheel: false,
          zoom: 13,
          mapTypeId: 'terrain',
          styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }
]
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbNcsUXQth89ztor6Q4jMNWtqhTqRtUvU&callback=initMap"
    async defer></script>

	</body>

</html>
